body{
	margin:auto;
	padding:0;
	width:100%;
	color:#4c4848;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	color:black;
}
header{
	height:100px;
}
footer{
	height:200px;
	background-color:gray;
}





.site-header{
	margin:0;
	padding:0;
	background:rgba(255,255,255,1);
	position:fixed;
	z-index:100;
	top:0;
	justify-content:space-between;
	transition:.5s;
	width:100%;
}
.site-header a{
	color:black;
}
.site-header.transform{
	background:rgba(255,150,100,1);
}
.header_list{
	float:right;
	padding:20px 20px 0 0;
	margin:5px 0 0 0;
}
.header_list li{
	float:left;
	padding:20px 80px 20px 0;
}
.more a, .content_title a{
	color:black;
	position:relative;
	display:inline-block;
	transition:.3s;
}
.list_name a{
	color:black;
	position:relative;
	display:inline-block;
	transition:.3s;
}
.more a::after, .content_title a::after{
	position:absolute;
	bottom:0;
	left:50%;
	content:'';
	width:0;
	height:2px;
	background-color:#FACC2E;
	transition:.3s;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.list_name a::after{
	position:absolute;
	bottom:0;
	left:50%;
	content:'';
	width:0;
	height:2px;
	background-color:#FACC2E;
	transition:.3s;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.more a:hover::after, .content_title a:hover::after{
	width:120%;
}
.list_name a:hover::after{
	width:120%;
}





.main_visual{
	display:inline-block;
	text-align:center;
	width:100%;
}
.main_visual img{
	width:80%;
}





.sub_title{
	font-size:30px;
	color:#4c4848;
}





.concept{
	/*background:#FFFF00;*/
	margin:100px 0 150px 0;
	padding:0 0 0 50px;
}
.concept_content{
	width:570px;
	margin:30px 0 0 20px;
	line-height:40px;
}
.concept_text{
	vertical-align:top;
}
.concept_text, .concept_img{
	display:inline-block;
}
.concept_img img{
	width:400px;
}





.making{
	padding:0 0 0 100px;
	margin:0 0 100px 0;
}
.outside_img img{
	width:500px;
	margin:120px 0 0 100px;
}
.inside_img img{
	width:500px;
	margin:200px 0 0 150px;
}
.outside, .inside{
	display:block;
	padding:0;
}
.outside{
	margin:0 0 250px 0;
	position:relative;
}
.inside{
	position:relative;
}
.outside_text, .outside_img, .inside_text, .inside_img{
	display:inline-block;
	vertical-align:top;
	margin:0;
	padding:0;
}
.outside_bg, .inside_bg{
	position:absolute;
	width:600px;
	top:-80px;
	left:200px;
}
.outside_img, .inside_img{
	position:relative;
	margin:0 0 0 400px;
}
.outside_text, .inside_text{
	position:absolute;
}
.making_text{
	display:block;
}
.making_text_02{
	display:block;
	margin:0 0 0 50px;
}
.making_text_title{
	display:block;
	font-size:30px;
	border-bottom:solid 2px #FACC2E;
}
.making_text_subtitle{
	font-size:18px;
	margin:10px 0 50px 0;
}
.making_detail_title{
	font-size:18px;
	margin:0 0 5px 0;
}
.making_detail_content{
	font-size:14px;
	margin:0 0 30px 0;
}





.effect{
	/*padding:0 0 0 100px;*/
	margin:300px 0 150px 100px;
	line-height:20px;
}
.effect_title_explain{
	padding:20px 0 0 0;
}
.effect_triangle{
	display:block;
	text-align:center;
	margin:0 0 100px -100px;
	padding:0;
}
.effect_triangle img{
	width:450px;
	margin:20px 0;
}
.effect_detail{
	display:block;
	margin:50px 0 0 0;
	padding:0;
}
.effect_cat, .effect_human, .effect_tram{
	margin:20px 0;
}
.effect_cat img, .effect_human img, .effect_tram img{
	width:120px;
	margin:20px 0 0 0;
}
.effect_cat_text, .effect_human_text, .effect_tram_text{
	display:inline-block;
	vertical-align:top;
	margin:30px 0 0 0;
}
.effect_name{
	font-size:18px;
	display:inline-block;
	padding:20px 0 15px 0;
}
.effect_explain{
	/*width:400px;*/
	font-size:15px;
	line-height:30px;
}




.information{
	padding:0 0 0 100px;
	margin:0 0 100px 0;
}
.info_list{
	line-height:30px;
}





.skills{
	padding:0 0 0 100px;
	margin:0 0 50px 0;
}
.sk_list{
	display:inline-block;
}
.sk_list img{
	width:80px;
	padding:10px 5px 0 0;
}





.process{
	padding:0 0 0 100px;
	margin:0 0 50px 0;
	/*vertical-align:top;*/
}
.process_detail{
	font-size:16px;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	/*height:250px;*/
	margin:0 0 0 50px;
}
.process_text{
	margin:0 20px 0 0;
}
.process_mark{
	margin:20px 20px 0 0;
}





.information{
	padding:0 0 0 100px;
	margin:0 0 100px 0;
}
.info_list{
	line-height:30px;
	width:500px;
}
