body{
	margin:auto;
	padding:0;
	width:100%;
	color:#4c4848;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	color:black;
}
header{
	height:100px;
}
footer{
	height:200px;
	background-color:gray;
}





.site-header{
	background:rgba(255,255,255,1);
	position:fixed;
	top:0;
	justify-content:space-between;
	transition:.5s;
	width:100%;
}
.site-header a{
	color:black;
}
.site-header.transform{
	background:rgba(255,150,100,1);
}
.header_list{
	float:right;
	padding:20px 20px 0 0;
	margin:5px 0 0 0;
}
.header_list li{
	float:left;
	padding:20px 80px 20px 0;
}
.more a, .content_title a{
	color:black;
	position:relative;
	display:inline-block;
	transition:.3s;
}
.list_name a{
	color:black;
	position:relative;
	display:inline-block;
	transition:.3s;
}
.more a::after, .content_title a::after{
	position:absolute;
	bottom:0;
	left:50%;
	content:'';
	width:0;
	height:2px;
	background-color:#FACC2E;
	transition:.3s;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.list_name a::after{
	position:absolute;
	bottom:0;
	left:50%;
	content:'';
	width:0;
	height:2px;
	background-color:#FACC2E;
	transition:.3s;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.more a:hover::after, .content_title a:hover::after{
	width:120%;
}
.list_name a:hover::after{
	width:120%;
}





.main_visual{
	display:inline-block;
	text-align:center;
	width:100%;
}
.main_visual img{
	width:80%;
}



.sub_title{
	font-size:30px;
	color:#4c4848;
}
.sub_title_02{
	font-size:20px;
}
.summary{
	color:#4c4848;
}





.concept{
	margin:100px 0 150px 0;
	padding:0 0 0 50px;
}
.concept_text{
	/*margin:0 50px 0 0;*/
}
.concept_text, .concept_img{
	display:inline-block;
	vertical-align:top;
}
.concept_content{
	width:500px;
	margin:30px 0 0 10px;
	line-height:40px;
}
.concept_img img{
	display:inline-block;
	width:350px;
	margin:90px 0 0 70px;
}




.sc_intro{
	padding:0 0 0 100px;
	margin:50px 0 100px 0;
}
.sc_intro_img{
	text-align:center;
	padding:0;
	margin:50px 0 0 -50px;
}
.sc_intro_img img{
	width:750px;
}





.how_intro{
	padding:0 0 0 100px;
	margin:0 0 50px 0;
}
.how_intro_01, .how_intro_02{
	display:block;
	text-align:center;
	padding:0;
	margin:0 0 0 -100px;
}
.how_intro_01{
	margin:0 0 50px -100px;
}
.how_intro_img, .how_intro_text{
	display:inline-block;
	vertical-align:top;
	padding:0;
	margin:0;
}
.how_intro_img img{
	width:250px;
	padding:0 30px;
}
.how_intro_title{
	font-size:25px;
	width:480px;
	margin:0 0 20px 0;
	text-align:left;
}
.how_intro_content{
	width:470px;
	text-align:left;
}




.making{
	padding:0 0 0 100px;
	margin:0 0 50px 0;
}
.shikumi img{
	width:700px;
}





.flow, .point{
	padding:0 0 0 100px;
	margin:0 0 50px 0;
}
.flow_detail{
	display:inline-block;
}
.flow_01, .flow_02, .flow_03, .flow_04, .flow_05, .flow_06, .flow_ma{
	display:inline-block;
	vertical-align:top;
}
.flow_first, .flow_latter{
	display:block;
	margin:50px 0;
}
.flow_01 img, .flow_02 img, .flow_03 img
, .flow_04 img, .flow_05 img, .flow_06 img{
	width:200px;
	margin:10px 0;
}
.flow_text{
	/*display:inline-block;*/
	vertical-align:top;
	margin:0;
	padding:0;
}
.flow_name{
	font-size:18px;
	display:inline-block;
	padding:20px 0 10px 0;
	margin:0;
}
.flow_explain{
	width:200px;
	font-size:13px;
}
.flow_ma{
	padding:100px 10px 0 10px;
	/*margin:0;*/
}





.lesson{
	padding:0 0 0 100px;
	margin:0 0 50px 0;
}
.lesson_content{
	width:1000px;
}




.information{
	padding:0 0 0 100px;
	margin:0 0 100px 0;
}
.info_list{
	line-height:30px;
}





.process{
	padding:0 0 0 100px;
	margin:0 0 50px 0;
}





.achieve{
	padding:0 0 0 100px;
	margin:0 0 50px 0;
}

