body{
	margin:auto;
	padding:0;
	/*width:100%;*/
	width:1350px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	color:black;
}
header{
	height:100px;
}
footer{
	height:200px;
	background-color:gray;
}





.site-header{
	background:rgba(255,255,255,1);
	position:fixed;
	top:0;
	justify-content:space-between;
	transition:.5s;
	width:100%;
}
.site-header a{
	color:black;
}
.site-header.transform{
	background:rgba(255,150,100,1);
}
.header_list{
	float:right;
	padding:20px 20px 0 0;
	margin:5px 0 0 0;
}
.header_list li{
	float:left;
	padding:20px 80px 20px 0;
}
.more a, .content_title a{
	color:black;
	position:relative;
	display:inline-block;
	transition:.3s;
}
.list_name a{
	color:black;
	position:relative;
	display:inline-block;
	transition:.3s;
}
.more a::after, .content_title a::after{
	position:absolute;
	bottom:0;
	left:50%;
	content:'';
	width:0;
	height:2px;
	background-color:#FACC2E;
	transition:.3s;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.list_name a::after{
	position:absolute;
	bottom:0;
	left:50%;
	content:'';
	width:0;
	height:2px;
	background-color:#FACC2E;
	transition:.3s;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.more a:hover::after, .content_title a:hover::after{
	width:120%;
}
.list_name a:hover::after{
	width:120%;
}





.main_visual{
	display:inline-block;
	text-align:center;
	width:100%;
}
.main_visual img{
	width:80%;
}





.concept, .no_03, .no_04, .specialist, .manhole, .big{
	margin:0 0 50px 0;
	padding:50px 0 50px 100px;
}
.concept_content{
	width:500px;
	margin:0;
}





.sub_title{
	font-size:30px;
	color:#4c4848;
}
.sub_sub_title{
	font-size:22px;
	color:#4c4848;
	margin:0 0 0 0;
}
.sub_title_02{
	font-size:20px;
}





.no_03_text, .no_03_img, .no_04_text, .no_04_img{
	display:inline-block;
}
.no_03_text, .no_04_text{
	vertical-align:top;
	width:500px;
	margin:0;
	padding:0;
}
.no_03_img, .no_04_img{
	margin:0;
}
.no_03_img img, .no_04_img img{
	width:250px;
}





.spe_content, .manhole_content, .big_content{
	margin:0 0 50px 0;
	width:600px;
}
.spe_01_img img, .spe_02_img img, .spe_03_img img,
.manhole_01_img img, .manhole_02_img img,
.big_01_img img, .big_02_img img{
	width:300px;
}
.spe_01_img, .spe_02_img, .spe_03_img, .spe_01_content, .spe_02_content, .spe_03_content,
.manhole_01_img, .manhole_02_img, .manhole_01_content, .manhole_02_content,
.big_01_img, .big_02_img, .big_01_content, .big_02_content{
	display:inline-block;
}
.spe_01_content, .spe_02_content, .spe_03_content,
.manhole_01_content, .manhole_02_content,
.big_01_content, .big_02_content{
	vertical-align:top;
}
.spe_01_content_title, .spe_02_content_title, .spe_03_content_title,
.manhole_01_content_title, .manhole_02_content_title,
.big_01_content_title, .big_02_content_title{
	font-size:25px;
	margin:0 0 10px 0;
}

.spe_01_content_content, .spe_02_content_content, .spe_03_content_content,
.manhole_01_content_content, .manhole_02_content_content,
.big_01_content_content, .big_02_content_content{
	width:600px;
}





.lesson{
	padding:0 0 0 100px;
	margin:0 0 50px 0;
}

.achieve{
	padding:0 0 0 100px;
	margin:0 0 50px 0;
}

.future{
	padding:0 0 0 100px;
	margin:0 0 50px 0;
}