body{
	margin:auto;
	padding:0;
	width:100%;
}

ul{
	list-style:none;
}

a{
	text-decoration:none;
	color:black;
}

header{
	height:100px;
}

footer{
	height:200px;
	background-color:gray;
}

.site-header{
	background:rgba(255,255,255,1);
	position:fixed;
	top:0;
	justify-content:space-between;
	transition:.5s;
	width:100%;
}

.site-header a{
	color:black;
}

.site-header.transform{
	background:rgba(255,150,100,1);
}

.header_logo{
	float:left;
	font-size:20px;
	padding:30px 0 30px 100px;
	font-weight:bold;
	margin:10px 0 0 0;
}

.header_list{
	float:right;
	padding:20px 20px 0 0;
	margin:5px 0 0 0;
}

.header_list li{
	float:left;
	padding:20px 80px 20px 0;
}

.more a, .content_title a{
	color:black;
	position:relative;
	display:inline-block;
	transition:.3s;
}

.list_name a{
	color:black;
	position:relative;
	display:inline-block;
	transition:.3s;
}

.more a::after, .content_title a::after{
	position:absolute;
	bottom:0;
	left:50%;
	content:'';
	width:0;
	height:2px;
	background-color:#FACC2E;
	transition:.3s;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

.list_name a::after{
	position:absolute;
	bottom:0;
	left:50%;
	content:'';
	width:0;
	height:2px;
	background-color:#FACC2E;
	transition:.3s;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

.more a:hover::after, .content_title a:hover::after{
	width:120%;
}

.list_name a:hover::after{
	width:120%;
}

.main_visual{
	width:100%;
	margin:0;
}

img.main_visual_photo{
	width:100%;
}

.main_visual p{
	position:absolute;
	top:0;
	left:0;
	padding:150px 0 0 150px;
	font-size:40px;
	color:#4c4848;
}

.main_visual_title{
	margin:100px 0 0 100px;
}

.about{
/*	height:400px;*/
	margin:0;
	padding:90px 0 0 100px;
	height:100%;
}

.about_title, .skills_title, .work_title, .contact_title{
	margin-bottom:30px;
}

.eng{
	display:inline-block;
	font-size:50px;
	border-bottom:solid 2px #FACC2E;
}

.ja{
	padding:20px 0 0 0;
}

.profile{
	display:block;
	/*display:inline-block;*/
/*	text-align:center;*/
	margin-bottom:30px;
}

.prof_photo{
	padding:0;
	margin:0;
	display:inline-block;
	vertical-align:top;
}

img.my_photo{
	width:300px;
}

.prof_title{
	display:inline-block;
	padding:0;
	margin:0 0 20px 50px;
}


.pr_name{
	display:block;
	margin:0 0 10px 0;
}

.pr_content{
	margin:0 0 20px 0;
}

.skills{
	padding:90px 0 0 100px;
	margin:0;
	height:100%;
}

.sk_name{
	margin:20px 0 0 0;
}

.using_img img, .using_02_img img{
	width:80px;
	padding:10px 5px 0 5px;
}

.works{
	height:100%;
	margin:0;
	padding:90px 0 0 100px;
}

.works_content{
	padding:0;
}

.content_01, .content_02, .content_03{
	display:block;
	padding:0 20px;
	margin:30px 0;
}

.content_image{
	display:inline-block
}

.content_info{
	display:inline-block;
	vertical-align:top;
}

.content_image img{
	width:180px;
}

.content_title{
	font-size:20px;
	margin:10px 0 20px 0;
	font-weight:bold;
	display:block;
	text-align:left;
}

.content_text{
	text-align:start;
	width:400px;
	font-size:13px;
	display:block;
}

.more{
	font-size:30px;
	margin:50px 0 0 0;
}

.contact{
	height:100%;
	margin:0;
	padding:90px 0 0 100px;
}